<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
    .completed {
    	text-decoration: line-through;
    	color: gray;
    }
    </style>
</head>
<body>

	<h1>Tasks</h1>
	<div id="tasks"></div>

	<script type="text/template" id="task-template">
		<input type='checkbox' class='toggle' <%= completed ? 'checked' : '' %>>
		<span class="<%= completed ? 'completed' : ''  %>">
			<%- title %>
		</span>
		<span class='delete'>[x]</span>
	</script>

	<script src="src/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="src/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script src="src/backbone/backbone.js" type="text/javascript" charset="utf-8"></script>
	<script src="app.js" type="text/javascript"></script> 
</body>
</html>
